h1 {
    font-size:100px;
    color:aqua;
    background:rgb(216, 174, 166);
    text-align:center;
    padding:0px 0;
}

.kekka {
    font-size:70px;
    padding-left:30px;
    padding-right:30px;
}

.kome1 {
    font-size:50px;
    padding-left:30px;
    padding-right:30px;
}


